body{
  text-align:justify;
  
  padding-top: 30%;
  background: linear-gradient(to bottom, violet 10%, blue 10%, pink 15%);
}
.hill{
  color:violet;
  padding-left: 20px;
    background-color: gray;
    margin: 10px;
  
}
.waterfall{
  color:violet;
padding-left: 20px;
  background-color: gray;
  margin: 10px;
}
.sea{
  color:violet;
    background-color: gray;
  padding-left: 20px;
  margin: 10px;
}
.chamber{
  color:violet;
  padding-left: 20px;
  background-color: gray;
  margin: 10px;
}